@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

.header {
    background-color: #1e1e1e;
    height: 80px;
}

.header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header .container-header .contact {
    color: #007BFF;
    text-decoration: none;
    transition: 1s ease-in-out;
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 5px
}

.header .container-header .contact:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    height: 2px;
    background-color: #007BFF;
    transition: 1s ease-in-out;
}


.header .container-header .contact:hover::after {
    left: 0;
    right: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo.png");
    background-size: cover;
    height: 100vh;
}

.title-main {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #E0E0E0;
    letter-spacing: 3px;
}

.title-service {
    color: #C0C0C0;
    font-size: 30px;
}

.container-footer {
    background-color: #007BFF;
    color: #E0E0E0;
}

.container-footer .container-div {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
}

.container-footer .container-div a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* styles FORM */

.header .container-header .return {
    display: inline-block;
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
    transition: 0.15s ease-in-out;
    position: relative;
    padding: 5px;
}

.header .container-header .return::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #007BFF;
    transition: 1s ease-in-out;
}

.header .container-header .return:hover:after {
    left: 0;
    right: 0;
}

.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../img/fondo-form.png");
    background-size: cover;
    height: 100vh
}

.form-main .container-div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 3px;
}


.form-main .container-div-form .container-div-title {
    color: #C0C0C0;
    text-align: center;
    font-size: 30px;
    height: 25%;
}

.form-main .container-div-form .container-div-title .div-titles {
    margin: 10px;
}

.form-main .container-div-form .div-form {
    width: 100%;
    height: 50%;
}

.form-main .container-div-form .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C0C0C0;
}

.form-main .container-div-form .container-form .inf {
    border: transparent;
    border-bottom: #C0C0C0 2px solid;
    background-color: transparent;
    width: 50%;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    color: #007BFF;
}

.form-main .container-div-form .container-form .inf::placeholder {
    color: #007BFF;
    opacity: 1;
}

.form-main .container-div-form .container-form select {
    border: transparent;
    border-bottom: #C0C0C0 solid 2px;
    background: transparent;
    margin: 15px;
    color: #007BFF;
    font-size: 25px;
    width: 50%;
    cursor: pointer;
}

.form-main .container-div-form .container-form textarea {
    margin: 15px;
    font-size: 25px;
    background: transparent;
    border: transparent;
    color: #007BFF;
    border-bottom: solid 2px #C0C0C0;
    width: 50%;
}

.form-main .container-div-form .container-form textarea::placeholder {
    color: #007BFF;
    opacity: 1;
}

.form-main .container-div-form .container-form .submit {
    width: 50%;
    padding: 4px;
    background: #C0C0C0;
    color: #007BFF;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form-main .container-div-form .container-form .submit:hover {
    transform: scale(0.96);
    background: #9a9797;
}

@media (max-width: 770px) {
    .header .container-header .contact {
        font-size: 15px;
    }

    .container-main .title-main {
        font-size: 16px;
    }

    .container-main .title-service {
        font-size: 12px;
    }

    .container-footer .container-div {
        font-size: 10px;
        padding: 9px;
    }

    /* form */
    .header .container-header .return {
        font-size: 15px;
    }

    .form-main{
        background-image: url("../img/fondo-responsive.png");
        background-size: contain;
    }

    .form-main .container-div-form {
        width: 100%;
    }

    .form-main .container-div-form .container-div-title {
        font-size: 20px;
        height: 19%;
    }

    .form-main .container-div-form .div-form {
        height: 63%;
    }

    .form-main .container-div-form .container-form .inf {
        width: 60%;
        font-size: 20px;
        padding: 3px;
    }

    .form-main .container-div-form .container-form textarea{
        width: 60%;
        font-size: 20px;
    }

    .form-main .container-div-form .container-form .submit{
        font-size: 17px;
        width: 57%;
        padding: 3px;
    }
}