@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1e1e1e;
    height: 80px;
}

.header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}


.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-main {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;font-size: 50px;
}

.container-footer{
    background-color:#465C88;
    color:#E9E3DF
}

.container-footer .container-div{
    display: flex;
    justify-content:center;
    align-items: space-between;
    
}