@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

.header {
    background-color: #1e1e1e;
    height: 80px;
}

.header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header .container-header .contact {
    color: #C0C0C0;
    text-decoration: none;
    border: 1px solid #C0C0C0;
    border-radius: 19px;
    padding: 9px;
    transition:background-color 1s ease;
}

.header .container-header .contact:hover {
    background-color: #C0C0C0;
    color: #1e1e1e;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/fondo.png");
    background-size: cover;
    height: 100vh;
}

.title-main {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #E0E0E0;
    letter-spacing: 3px;
}

.title-service {
    color: #C0C0C0;
    font-size: 30px;
}

.container-footer {
    background-color: #007BFF;
    color: #E0E0E0
}

.container-footer .container-div {
    display: flex;
    justify-content: center;
    align-items: space-between;

}