@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #e9e3df;
    height: 90px;
}

.header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container-header a .img {
    width: 80px;
    height: 65px;
    margin: 13px;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-main {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;font-size: 50px;
}