body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color:white
}

.card{
    background-color: blue;
    width: 500px;
    text-align: center;
    margin: auto;
}
h1{
    letter-spacing: 2px;
    padding-top: 10px;
    margin: 0;
}

h2{
letter-spacing: 2px;
font-size: 25px;
font-weight: 500;
}

p{
    background-color:rgb(41, 107, 230);
    padding: 10px;
    text-align: justify;
}